[submodule "AGV-Simulation-ROS2-Gazebo"]
	path = AGV-Simulation-ROS2-Gazebo
	url = git@github.com:JakubCzech/AGV-Simulation-ROS2-Gazebo.git
[submodule "ROS2_Kinco_Servo"]
	path = ROS2_Kinco_Servo
	url = git@github.com:JakubCzech/ROS2_Kinco_Servo.git
[submodule "AGV-Controller"]
	path = AGV-Controller
	url = git@github.com:JakubCzech/AGV-Controller.git
[submodule "AGV-Navigation"]
	path = AGV-Navigation
	url = git@github.com:JakubCzech/AGV-Navigation.git
[submodule "AGV-Remote"]
	path = AGV-Remote
	url = git@github.com:JakubCzech/AGV-Remote.git
