# Installs dev environment specific packages (ie: linters)


# Format Python Code using Black
# https://github.com/psf/black/blob/main/.pre-commit-hooks.yaml
black

flake8

# Check Git Commit Messages against .gitlint
# https://jorisroovers.com/gitlint/#using-gitlint-through-pre-commit
gitlint
mypy
# A framework for managing and maintaining multi-language pre-commit hooks.
# https://pre-commit.com/#plugins
pre-commit

# Check Python Docstrings
# http://www.pydocstyle.org/en/4.0.0/usage.html#usage-with-the-pre-commit-git-hooks-framework
pydocstyle

# Lint Python Files
# https://pylint.pycqa.org/en/latest/user_guide/pre-commit-integration.html#pre-commit-integration
pylint

pymodbus==3.1.3
